{% extends "easy_pdf/base.html" %}
{% block extra_style %}
    <style type="text/css">
        @font-face { font-family: Lato; src: url('{{ STATIC_DIR }}/RatInfestedMailbox.ttf'); }
        @font-face { font-family: Normal; src: url('{{ STATIC_DIR }}/Chunk.ttf'); }
        @font-face { font-family: Roboto; src: url('{{ STATIC_DIR }}/Roboto/Roboto-Regular.ttf'); }
        body {
            font-family: "Roboto", "Normal", "Lato", "Helvetica", "sans-serif";
            color: #333333;
            text-align:center;

        }
        h1 {
            font-family: "Normal", "Lato", "Helvetica", "sans-serif";
        }
        .watermark {
            position: fixed;
            padding: 50%;
            *margin: 0;
            z-index: -1;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="content" class="watermark">
        <!-- <img src="{{ STATIC_DIR }}/watermark.jpg" class="watermark" /> -->
        {% for rhyme in rhymes %}
            <div>
                <h1>{{ rhyme.title }}</h1>
                <h3>{{ rhyme.category.title }}</h3>
                <div>
                    {{ rhyme.content|safe }}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
