{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" href="{% static 'chat/main.css' %}" rel="stylesheet" />
</head>
<body>
    <h1>{{ chat.name }}</h1>
    <div id="message_list"></div>
    <div class="controls">
        <input id="send-text" type="text" /><button id="send-button">Wyślij</button>
    </div>
    <div name="chat-key" style="display:none">{{ key }}</div>

    <script type="text/javascript" src="{% static 'chat/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat/jquery-config.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat/client.js' %}"></script>
</body>
</html>