body{
    background-image:url('img/intelligent-books-to-read.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}
.well-opacity{
background: rgb(137,126,65); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, rgba(137,126,65,1) 0%, rgba(124,115,60,1) 40%, rgba(104,97,52,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(137,126,65,1)), color-stop(40%,rgba(124,115,60,1)), color-stop(100%,rgba(104,97,52,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(137,126,65,1) 0%,rgba(124,115,60,1) 40%,rgba(104,97,52,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(137,126,65,1) 0%,rgba(124,115,60,1) 40%,rgba(104,97,52,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(137,126,65,1) 0%,rgba(124,115,60,1) 40%,rgba(104,97,52,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(137,126,65,1) 0%,rgba(124,115,60,1) 40%,rgba(104,97,52,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#897e41', endColorstr='#686134',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
background: url(img/Deska-rustic-jasna_productimage.jpg) 0 0 repeat;
background-size: 100% auto;

}
.rhyme{
    background-image:url('img/pap.jpeg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    -webkit-box-shadow: 7px 7px 9px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 9px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 9px 0px rgba(50, 50, 50, 0.75);

    -moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
 border-top-left-radius: 5px;
-moz-border-radius-topright: 66px;
-webkit-border-top-right-radius: 66px;
border-top-right-radius: 66px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;

}

.well-image{
    background-image:url('img/papirus.png');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    padding-top:5%;
    padding-bottom:5%;
}

.hidden{
    display: none;
}







/*flash*/
.message{
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;

    background-size: 40px 40px;
    background-image: -webkit-gradient(linear, left top, right bottom,
    color-stop(.25, rgba(255, 255, 255, .05)), color-stop(.25, transparent),
    color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .05)),
    color-stop(.75, rgba(255, 255, 255, .05)), color-stop(.75, transparent),
    to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    -webkit-box-shadow: 7px 7px 14px 0px rgba(50, 50, 50, 0.75), 7px 7px 14px 0px rgba(200, 200, 200, 0.6) inset;
    -moz-box-shadow:    7px 7px 14px 0px rgba(50, 50, 50, 0.75), 7px 7px 14px 0px rgba(200, 200, 200, 0.6) inset;
    box-shadow:         7px 7px 14px 0px rgba(50, 50, 50, 0.75), 7px 7px 14px 0px rgba(200, 200, 200, 0.6) inset;
    width: 90%;
    border: 2px solid lightgray;
    border-style: ridge groove groove ridge;
    border-radius: 5px;
    color: #fff;
    padding: 0px;
    padding-top:20px;
    padding-bottom:20px;


    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
    position: fixed;
    z-index: 100;

}
.info{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.error{
    background-color: #de4343;
    border-color: #c43d3d;
}

.success{
    background-color: #309a38;
    border-color: #c43d3d;
}

.warning{
    background-color: #ed7f47;
    border-color: #c43d3d;
}

@-webkit-keyframes animate-bg{
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}

@-moz-keyframes animate-bg{
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}
/*hide flash*/
#note {
    opacity: .7;
    -webkit-transform: translateY(-500px);
    -webkit-animation: slideDown 6s 1s 1 ease forwards;
    -moz-transform:    translateY(-500px);
    -moz-animation:    slideDown 6s 1s 1 ease forwards;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-500px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-500px); }
    10%, 90% { -moz-transform: translateY(0px); }
}
