{% load staticfiles %}
{% load i18n %}
{% load filters %}
<!DOCTYPE html>
<html ng-app="kittyApp">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wierszyki{% endblock %}</title>
        <link rel="icon" type="image/png" href="{% static 'frontsite/img/fav.cc'%}" />
        {% block stylesheets %}
            <link type="text/css" href="{% static 'frontsite/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
            <link type="text/css" href="{% static 'frontsite/font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" />
            <link type="text/css" href="{% static 'frontsite/bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet" />
            <link type="text/css" href="{% static 'frontsite/main.css' %}" rel="stylesheet" />
            <link type="text/css" href="{% static 'chat/chat.css' %}" rel="stylesheet" />
        {% endblock %}
        {% block stylesheets-custom %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{% static 'frontsite/icon.jpeg' %}" />
    </head>
    <body>
        {% block header %}
            {% block navigation %}
            <nav role="navigation" class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{% url 'frontsite:index' %}" class="navbar-brand active btn">Wierszyki</a>
                </div>
                <!-- Collection of nav links, forms, and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">

                    <ul class="nav navbar-nav">
                        {% url 'frontsite:category' as currentUrl %}
                        <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                            <a class="btn" href="{% url 'frontsite:category' %}">Kategorie <i class="fa fa-sitemap"></i></a>
                        </li>
                        {% url 'frontsite:all_users' as currentUrl %}
                        <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                            <a class="btn" href="{% url 'frontsite:all_users' %}">Użytkownicy <i class="fa fa-users"></i></a>
                        </li>
                        {% url 'frontsite:popular' as currentUrl %}
                        <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                            <a class="btn" href="{% url 'frontsite:popular' %}">Najpopularniejsze <i class="fa fa-slack"></i></a>
                        </li>
                        {% url 'frontsite:random' as currentUrl %}
                        <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                            <a class="btn" href="{% url 'frontsite:random' %}">Losowe <i class="fa fa-random"></i></a>
                        </li>
                        {% if request.user.is_authenticated == True %}
                        {% url 'frontsite:stored' as currentUrl %}
                        <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                            <a class="btn" href="{% url 'frontsite:stored' %}">Zapisane <i class="fa fa-book"></i></a>
                        </li>
                        {% endif %}
                        {% comment %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Messages <b class="caret"></b></a>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="#">Inbox</a></li>
                                <li><a href="#">Drafts</a></li>
                                <li><a href="#">Sent Items</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Trash</a></li>
                            </ul>
                        </li>
                        {% endcomment %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if request.user.is_authenticated == False %}
                            {% url 'frontsite:login' as currentUrl %}
                            <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                                <a href="{% url 'frontsite:login' %}">Login <i class="fa fa-user"></i></a>
                            </li>
                            {% url 'frontsite:registration' as currentUrl %}
                            <li {% if request.get_full_path == currentUrl %}class="active"{% endif %}>
                                <a href="{% url 'frontsite:registration' %}">Rejestracja <i class="fa fa-long-arrow-right"></i></a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'frontsite:user' request.user.id %}">Profil {{ request.user.username }} <i class="fa fa-user"></i></a></li>
                            <li><a href="{% url 'frontsite:logout' %}">Wyloguj się <i class="fa fa-long-arrow-right"></i></a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% endblock %}
        {% endblock %}
<section class="container well-opacity">
{% block body %}
    {% block content %}{% endblock %}
{% endblock %}
</section>
<section id="chat" class="chat">
        {% include "chat/chat.html" %}
</section>
{% block footer %}
<footer>

</footer>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{% static 'frontsite/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/jquery-config.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat/chat.js' %}"></script>
    <script type="text/javascript" src="{% static 'chat/client.js' %}"></script>
{% endblock %}
{% block angularlib %}
    <script type="text/javascript" src="{% static 'frontsite/angular/lib/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/angular/lib/django-angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/angular/lib/angular-resource.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/angular/lib/angular-cookies.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/angular/lib/angular-route.js' %}"></script>
{% endblock %}
{% block angularapp %}
    <script type="text/javascript" src="{% static 'frontsite/angular/app/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/angular/app/config.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/angular/app/controllers.js' %}"></script>
{% endblock %}
{% block javascript-custom %}{% endblock %}
    </body>
</html>