{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        {% for user in users %}
            <div class="col-md-4 well well-lg">
                <a class="btn btn-success" href="{% url 'frontsite:user' user.id %}">{{ user.username }}</a>
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                {% if user.profile %}
                    <hr>
                    <div class="">
                        {% if user.profile.avatar %}
                            <img
                                    class="img img-circle pull-left"
                                    src="{% url 'frontsite:show-avatar' user.profile.avatar.path|add:'tiny' %}"
                                    alt="awatar"
                            />
                        {% endif %}
                        {% if request.user.is_authenticated == True %}
                        <a
                                href="{% url 'frontsite:vote' user.profile.id %}"
                                class="fa fa-plus fa-2x btn btn-danger pull-right"> {{ user.vote_strength | default_if_none:"0" }}
                        </a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript-custom %}
{% endblock %}