{% extends 'layout.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        {% for category in categories %}
            <div class="col-md-4 well rhyme">
                <h4 class="text-center well-image">{{ category.title }}</h4>
                <p class="text-primary">
                    {{ category.description }}
                    <small class="pull-right">{{ category.created | date:"j E, Y" }}</small>
                </p>
                <br />
                {% if request.user.is_authenticated == True and request.user.is_staff == True %}
                    <a href="{% url 'frontsite:category_detail' category.id %}" class="btn btn-primary pull-right btn-xs">Edytuj</a>
                    <a href="{% url 'frontsite:category_detail' id=category.id delete='delete' %}" class="btn btn-primary pull-right btn-xs">Usuń</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="col-md-4 well">
        {% if request.user.is_authenticated == True and request.user.is_staff == True %}
        <form action="?" role="form" method="post">
            {% for field in form.visible_fields %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-warning bg bg-danger">{{ field.errors }}</div>
                </div>
            {% endfor %}
            {% csrf_token %}
            <input class="btn btn-success col-md-12" type="submit" value="Zapisz" />
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}