{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h2 class="text text-success">Najwięcej polubień</h2>
            <ol class="well">
                {% for rhyme in mostLiked %}
                    {% if rhyme.vote_strength != None %}
                        <li class="well">
                            <h3 class="text text-success">
                                <a href="{% url 'frontsite:rhyme_view' rhyme.id %}">{{ rhyme.title }}</a>
                            </h3>
                            <h4><small>{{ rhyme.category.title }}</small></h4>
                            {{ rhyme.content|linebreaks }}
                            <div class="pull-right text-success">{{ rhyme.created|date:'d M, Y' }}</div>
                            {% if request.user.is_authenticated == True %}
                                {% if rhyme in request.user.profile.stored_rhymes.all %}
                                    <a href="{% url 'frontsite:rhyme-unstore' rhyme.id %}" class="pull-left btn btn-success">Wypisz się</a>
                                {% else %}
                                    <a href="{% url 'frontsite:rhyme-store' rhyme.id %}" class="pull-left btn btn-success">Zapisz</a>
                                {% endif %}
                                <br>
                                <a class="btn btn-danger" href="{% url 'frontsite:vote-rhyme' rhyme.id %}">
                                    Podoba się <i class="fa fa-plus fa-2x"> {{ rhyme.vote_strength | default_if_none:"0" }}</i>
                                </a>
                            {% endif %}
                            <br>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>

            <h2 class="text text-success">Najwięcej zapisanych</h2>
            <ol class="well">
                {% for rhyme in mostSaved %}
                    <li class="well">
                        <h3 class="text text-success">
                            <a href="{% url 'frontsite:rhyme_view' rhyme.id %}">{{ rhyme.title }}</a>
                        </h3>
                        <h4><small>{{ rhyme.category.title }}</small></h4>
                        {{ rhyme.content|linebreaks }}
                        <div class="pull-right text-success">{{ rhyme.created|date:'d M, Y' }}</div>
                        {% if request.user.is_authenticated == True %}
                            {% if rhyme in request.user.profile.stored_rhymes.all %}
                                <a href="{% url 'frontsite:rhyme-unstore' rhyme.id %}" class="pull-left btn btn-success">Wypisz się</a>
                            {% else %}
                                <a href="{% url 'frontsite:rhyme-store' rhyme.id %}" class="pull-left btn btn-success">Zapisz</a>
                            {% endif %}
                            <br>
                            <a class="btn btn-danger" href="{% url 'frontsite:vote-rhyme' rhyme.id %}">
                                Podoba się <i class="fa fa-plus fa-2x"> {{ rhyme.vote_strength | default_if_none:"0" }}</i>
                            </a>
                        {% endif %}
                        <br>
                    </li>
                {% endfor %}
            </ol>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}

{% block javascript-custom %}
{% endblock %}