{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well text-center">
            <h3><a href="{% url 'frontsite:rhyme_view' rhyme.id %}">{{ rhyme.title }}</a></h3>
            <h4><small>{{ rhyme.category.title }}</small></h4>
            {{ rhyme.content|linebreaks }}
            <div class="pull-right text-success">{{ rhyme.created|date:'d M, Y' }}</div>
            {% if request.user.is_authenticated == True %}
                {% if rhyme in request.user.profile.stored_rhymes.all %}
                    <a href="{% url 'frontsite:rhyme-unstore' rhyme.id %}" class="pull-left btn btn-success">Wypisz się</a>
                {% else %}
                    <a href="{% url 'frontsite:rhyme-store' rhyme.id %}" class="pull-left btn btn-success">Zapisz</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}

{% block javascript-custom %}
{% endblock %}