{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
<div class="row-fluid">
{% if request.user.is_authenticated == True and request.user.id == user.id %}
    <div class="text-center">
        <button type="button" class="btn text-warning text-center fa fa-folder-open" data-toggle="collapse" data-target="#demo">
            Dodaj
        </button>
    </div>
    <div class="col-md-12 well collapse out" id="demo">
        <form action="" role="form" method="post">
            {% for field in form.visible_fields %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="text-warning bg bg-danger">{{ field.errors }}</div>
                </div>
            {% endfor %}
            {% csrf_token %}
            <input class="btn btn-success col-md-12" type="submit" value="Zapisz" />
        </form>
    </div>
{% endif %}
    <div class="col-md-12" ng-controller="RhymeListCtrl">
        {% for rhyme in rhymes %}
            <div class="col-md-4 well rhyme">
                <div class="col-md-12">
                    <h2 class="text-center well-image">
                        <a href="{% url 'frontsite:rhyme_view' rhyme.id %}">
                            {{ rhyme.title }}</a><small> {{ rhyme.category.title }}</small>
                    </h2>
                </div>
                <p>{{ rhyme.content|safe|linebreaks }}</p>
                <hr>
                <div class="row well-image">
                    <div class="col-md-12">
                        <i class="pull-right text-info">{{ rhyme.created|date:'d M, Y' }}</i>
                        <br>
                        <a href="{% url 'frontsite:user' rhyme.author.user.id %}" class="pull-right">{{ rhyme.author.user.username }}</a>

                            <a class="btn btn-xs" href="{% url 'frontsite:vote-rhyme' rhyme.id %}">
                                Podoba się <i class="fa fa-plus fa-2x"> {{ rhyme.vote_strength | default_if_none:"0" }}</i>
                            </a>

                        {% if request.user.is_authenticated == True %}
                            <div class="center-block">
                            {% if rhyme not in request.user.profile.stored_rhymes.all %}
                                <a class="btn btn-success fa fa-save" href="{% url 'frontsite:rhyme-store' rhyme.id %}">
                                    Zapisz
                                </a>
                            {% else %}
                                <a class="btn btn-success fa fa-save" href="{% url 'frontsite:rhyme-unstore' rhyme.id %}">
                                    Wypisz się
                                </a>
                            {% endif %}
                            {% if rhyme.author.id == request.user.profile.id %}
                                <a class="pull-right btn btn-primary btn-xs" href="{% url 'frontsite:rhyme_detail' rhyme.id %}">Edytuj</a>
                                <a class="pull-right btn btn-primary btn-xs" href="{% url 'frontsite:rhyme_detail' id=rhyme.id delete='delete' %}">Usuń</a>
                            {% endif %}
                            </div>
                        {% endif %}
                        {% if rhyme.comments_count > 0 %}
                            <br />
                            <div class="pull-right">
                                <span class="text text-success">Komentarzy: </span>
                                <label class="label label-success">{{ rhyme.comments_count }}</label>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row">
            <div class="text-center pagination col-md-12">
                <span class="step-links">
                    {% if rhymes.has_previous %}
                        <a href="?page={{ rhymes.previous_page_number }}">poprzednia</a>
                    {% endif %}

                    <span class="current">
                        Strona {{ rhymes.number }} z {{ rhymes.paginator.num_pages }}.
                    </span>

                    {% if rhymes.has_next %}
                        <a href="?page={{ rhymes.next_page_number }}">następna</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript-custom %}
<script type="text/javascript" src="{% static 'frontsite/tinymce/js/tinymce/tinymce.min.js' %}"></script>
<script>
    tinymce.init({
        selector: "textarea",
        plugins: [
            "advlist autolink lists link image charmap print preview anchor",
            "searchreplace visualblocks code fullscreen",
            "insertdatetime media table contextmenu paste"
        ],
        height : 300,
        toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
    });
</script>
{% endblock %}