{% extends 'layout.html' %}
{% load staticfiles %}
{% load filters %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 well text-center">
            <h3><a href="{% url 'frontsite:rhyme_view' rhyme.id %}">{{ rhyme.title }}</a></h3>
            <h4><small>{{ rhyme.category.title }}</small></h4>
            {{ rhyme.content|safe|linebreaks }}
            <div class="pull-right text-success">{{ rhyme.created|date:'d M, Y' }}</div>
            {% if request.user.is_authenticated == True %}
                <a class="btn btn-xs" href="{% url 'frontsite:vote-rhyme' rhyme.id %}">
                    Podoba się <i class="fa fa-plus fa-2x"> {{ rhyme.vote_strength | default_if_none:"0" }}</i>
                </a>
                {% if rhyme in request.user.profile.stored_rhymes.all %}
                    <a href="{% url 'frontsite:rhyme-unstore' rhyme.id %}" class="pull-left btn btn-success">Wypisz się</a>
                {% else %}
                    <a href="{% url 'frontsite:rhyme-store' rhyme.id %}" class="pull-left btn btn-success">Zapisz</a>
                {% endif %}
                {% if rhyme.author.id == request.user.profile.id %}
                    <a class="pull-right btn btn-primary btn-xs" href="{% url 'frontsite:rhyme_detail' rhyme.id %}">Edytuj</a>
                    <a class="pull-right btn btn-primary btn-xs" href="{% url 'frontsite:rhyme_detail' id=rhyme.id delete='delete' %}">Usuń</a>
                {% endif %}
                <form action="{% url 'frontsite:rhyme_view' rhyme.id %}" method="POST">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="referer" value="{{ request.get_full_path }}" />
                    <input class="btn btn-success" type="submit" value="Wyślij" />
                </form>
            {% endif %}
            {% for comment in comments %}
                <div class="col-md-12 well">
                    <a href="{% url 'frontsite:user' comment.author.user.id %}" class="pull-left">
                        {{ comment.author.user.username }}
                    </a>
                    <span class="pull-right">{{ comment.date }}</span>
                    <p>
                        {{ comment.content|linebreaks }}
                    </p>
                    {% if comment.author.id = request.user.profile.id or rhyme.author.id = request.user.profile.id %}
                        <a href="{% url 'frontsite:delete_comment' comment.id %}" class="btn btn-danger btn-xs pull-right">Usuń</a>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="row">
                <div class="text-center pagination col-md-12">
                    <span class="step-links">
                        {% if comments.has_previous %}
                            <a href="?page={{ comments.previous_page_number }}">poprzednia</a>
                        {% endif %}
    
                        <span class="current">
                            Strona {{ comments.number }} z {{ comments.paginator.num_pages }}.
                        </span>
    
                        {% if comments.has_next %}
                            <a href="?page={{ comments.next_page_number }}">następna</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}

{% block javascript-custom %}
{% endblock %}
