{% extends 'layout.html' %}
{% load staticfiles %}
{% load filters %}
{% block content %}
    <div class="row" ng-controller="ExportCtrl">

        <div class="col-md-1"></div>
        <div class="col-md-8 text-center">
            <div class="row list-unstyled">
            {% with 0 as scarfording %}
            {% for stored in storedRhymes %}

                {% if scarfording == 0 %}
                    <div class="row">
                {% endif %}
                {% ++ scarfording %}

                    <article
                            class="col-md-5 col-md-offset-1 well rhyme"
                            position-order="{{ forloop.counter }}"
                            position-order-id="{{ stored.id }}"
                    >
                        <h3 data-toggle="collapse" href="[name=collapsible-content]" class=" well-image">
                            <a href="{% url 'frontsite:rhyme_view' stored.rhyme.id %}">
                                {{ stored.rhyme.title }}
                            </a>
                            {% if stored.rhyme.public == False %}
                                <i class="fa fa-eye-slash"></i>
                            {% endif %}
                        </h3>
                        <div class="checkbox pull-left" name="export-checkbox">
                            <label>
                                <input select-name='rhymeIds' name='rhymeIds[]' value='{{ stored.rhyme.id }}' type="checkbox" />Zaznacz
                            </label>
                        </div>
                        <div name="collapsible-content" class="panel-collapse collapse in">
                            {% if stored.rhyme.category %}
                                <h4>
                                    <small><a href="{% url 'frontsite:rhymes_by_category' stored.rhyme.category.id %}">{{ stored.rhyme.category.title }}</a></small>
                                </h4>
                            {% endif %}
                            <div class="pull-right">
                                <a href="{% url 'pdf:index' stored.rhyme.id %}" class="btn btn-xs btn-success" target="_blank">
                                    <i class="fa fa-file-pdf-o"></i>
                                </a>
                            </div>
                            {{ stored.rhyme.content|safe|linebreaks }}
                            <div class="pull-right text-success">{{ stored.rhyme.created|date:'d M, Y' }}</div>
                            <a href="{% url 'frontsite:rhyme-unstore' stored.rhyme.id %}" class="pull-left btn btn-success">Wypisz się</a>
                        </div>
                    </article>
                {% if scarfording == 2 or forloop.last %}
                    </div>
                    {% set_int_var 0 as scarfording %}
                {% endif %}
            {% endfor %}
            {% endwith %}
            </div>
        </div>
        <div class="col-md-3 text-center">
            <br>
            <div class=" btn-group-vertical well">
                <label class="label label-default">Do PDF <i class="fa fa-file-pdf-o"></i></label>
                <a
                    ng-click="exportMode()"
                    id='exportBtn'
                    class="btn btn-default"
                >
                        {$ selectModeBtn $}
                </a>
                <a
                    ng-click="cancelExport($event)"
                    id='cancelBtn'
                    class="btn btn-default disabled"
                >
                    {$ cancelBtn $}
                </a>
                <a target="_blank" href="{% url 'pdf:favorite' 'favorite' %}" class="btn btn-default">Ulubione <i class="fa fa-external-link"></i></a>
                <a target="_blank" href="{% url 'pdf:all' 'all' %}" class="btn btn-default">Wszystko <i class="fa fa-external-link"></i></a>
                <hr>
                <label class="label label-default">Zmień kolejność <i class="fa fa-sliders"></i></label>
                <a
                    ng-click="dragMode($event)"
                    id='dragBtn'
                    class="btn btn-default"
                >
                    Przenieś
                </a>
                <a
                    ng-click="saveDrag($event)"
                    id='saveDragDropBtn'
                    class="btn btn-default btn-primary disabled"
                >
                    Zapisz
                </a>
                <a
                    ng-click="cancelDrag($event)"
                    id='cancelDragDropBtn'
                    class="btn btn-default disabled"
                >
                    Anuluj
                </a>
            </div>
        </div>
        <div class="modal fade" id="modalRefresh">
            <div class="modal-dialog"></div>
        </div>
    </div>
{% endblock %}

 {% block javascript-custom %}
<script type="text/javascript"
	src="{% static 'frontsite/angular/app/stored/controllers.js' %}"></script>
{% endblock %}
