{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8  text-center">
            <div class="row">
                {% for rhyme in request.user.profile.stored_rhymes.all %}
                    <div class="col-md-4 well">
                        <h3>{{ rhyme.title }}</h3>
                        <h4><small>{{ rhyme.category.title }}</small></h4>
                        {{ rhyme.content|linebreaks }}
                        <div class="pull-right text-success">{{ rhyme.created|date:'d M, Y' }}</div>
                        <a href="{% url 'frontsite:rhyme-unstore' rhyme.id %}" class="pull-left btn btn-success">Wypisz się</a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}

{% block javascript-custom %}
{% endblock %}