{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6  text-center">
            <div class="row well">
                <div class="col-md-6">
                    <div class="row ">
                        <div class="col-md-4">
                            <label class="badge badge-muted">Użytkownik</label>
                        </div>
                        <div class="col-md-8">
                            <a href="{% url 'frontsite:user' user.id %}" class="text text-danger"><b>{{ user.username }}</b></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="badge badge-muted">E-mail</label>
                        </div>
                        <div class="col-md-8">
                            <a href="mailto:{{ user.email }}" class="text text-danger"><b>{{ user.email }}</b></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="badge badge-muted">Imię</label>
                        </div>
                        <div class="col-md-8">
                            <label class="text text-danger">{{ user.first_name | default:"-" }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="badge badge-muted">Nazwisko</label>
                        </div>
                        <div class="col-md-8">
                            <label class="text text-danger">{{ user.last_name | default:"-" }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="badge badge-muted">Głosy</label>
                        </div>
                        <div class="col-md-8">
                            <label class="text text-danger">{{ votes_strength_count | default:"0" }}</label>
                        </div>
                    </div>
                    <i class="pull-right text-info">Ostatnio widziany: {{ user.last_login | date }}</i>
                </div>
                <div class="col-md-6">
                    <img class="img img-circle" src="{% url 'frontsite:show-avatar' user.profile.avatar.path %}" alt="awatar" />
                    {% if request.user.is_authenticated == True and request.user.id == user.id %}
                    <form class="col-md-12" method="post" enctype="multipart/form-data" action="{% url 'frontsite:avatar' %}">
                        {{ avatarForm.as_p }}
                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                        {% csrf_token %}
                        <input type="submit" name="submit" value="Zapisz" />
                    </form>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    {% for vote in votes %}
                        <div class="col-md-12 label label-info">
                            Siła głosu: {{ vote.strength }}, data: {{ vote.date }}
                            <span class="badge">Głosujący: {{vote.author.user.username}}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}

{% block javascript-custom %}
{% endblock %}