{% extends 'layout.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6  text-center">
            <div class="row well">
                <div class="col-md-6">
                    <div class="row ">
                        <div class="col-md-4">
                            <label class="badge badge-muted">Użytkownik</label>
                        </div>
                        <div class="col-md-8">
                            <a href="{% url 'frontsite:user' user.id %}" class="text text-danger"><b>{{ user.username }}</b></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="badge badge-muted">E-mail</label>
                        </div>
                        <div class="col-md-8">
                            <a href="mailto:{{ user.email }}" class="text text-danger"><b>{{ user.email }}</b></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="badge badge-muted">Imię</label>
                        </div>
                        <div class="col-md-8">
                            <label class="text text-danger">{{ user.first_name | default:"-" }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="badge badge-muted">Nazwisko</label>
                        </div>
                        <div class="col-md-8">
                            <label class="text text-danger">{{ user.last_name | default:"-" }}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label class="badge badge-muted">Głosy</label>
                        </div>
                        <div class="col-md-8">
                            <label class="text text-danger">{{ votes_strength_count | default:"0" }}</label>
                        </div>
                    </div>
                    <i class="pull-right text-info">Ostatnio widziany: {{ user.last_login | date }}</i>
                </div>
                <div class="col-md-6">
                    {% if user.profile.avatar %}
                        <img class="img img-circle" src="{% url 'frontsite:show-avatar' user.profile.avatar.path %}" alt="awatar" />
                    {% endif %}
                    {% if request.user.is_authenticated == True and request.user.id == user.id %}
                    <form class="col-md-12" method="post" enctype="multipart/form-data" action="{% url 'frontsite:avatar' %}">
                        {{ avatarForm.as_p }}
                        <input type="hidden" name="user_id" value="{{ user.id }}" />
                        {% csrf_token %}
                        <input type="submit" name="submit" value="Zapisz" />
                    </form>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    {% for vote in votes %}
                        <div class="col-md-12 label label-info">
                            Siła głosu: {{ vote.strength }}, data: {{ vote.date }}
                            <a href="{% url 'frontsite:user' vote.author.user.id %}" class="badge">
                                Głosujący: {{vote.author.user.username}}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if request.user.is_authenticated %}
                {% if request.user.id == user.id or request.user.is_staff %}
                    <!-- {% ng-edit -->
                        <form name="userForm" ng-controller="UserCtrl">
                            <input type="hidden" ng-model="user.id" value="{{ user.id }}">
                            <input class="form-control" ng-model="user.username" placeholder="nazwa">
                            <div class="text-warning bg bg-danger">
                                {$ user.errors['username'] $}
                            </div>
                            <input class="form-control" ng-model="user.email" placeholder="e-mail">
                            <div class="text-warning bg bg-danger">
                                {$ user.errors['email'] $}
                            </div>
                            <input class="form-control" ng-model="user.first_name" placeholder="imie">
                            <div class="text-warning bg bg-danger">
                                {$ user.errors['first_name'] $}
                            </div>
                            <input class="form-control" ng-model="user.last_name" placeholder="nazwisko">
                            <div class="text-warning bg bg-danger">
                                {$ user.errors['last_name'] $}
                            </div>
                            <input type="password" class="form-control" ng-model="user.password" placeholder="hasło">
                            <div class="text-warning bg bg-danger">
                                {$ user.errors['password'] $}
                            </div>
                            <input type="password" class="form-control" ng-model="user.confirm_password" placeholder="potwierdź">
                            <div class="text-warning bg bg-danger">
                                {$ user.errors['confirm_password'] $}
                            </div>
                            <div class="text-warning bg bg-danger">
                                {$ user.errors['__all__'] $}
                            </div>
                            <button class="form-control btn btn-success" ng-click="update($event)">Zapisz</button>
                        </form>
                    <!-- ng-edit %} -->
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}

 {% block javascript-custom %}
    <script type="text/javascript" src="{% static 'frontsite/angular/app/user/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontsite/angular/app/user/services.js' %}"></script>
{% endblock %}